<div class="main_container">

<div class="titlebar">
	<%= image_tag("chef.png", size: "150", style: "float:right; margin-right:50px;") %>
	<%= image_tag("logo.png", style:"margin:20px 15px; height:110px;") %>
</div>

<div class="menubar">
<%= render 'home/menu' %>
</div>

<div class="sidebar">
<%= render 'home/sidebar' %>
</div>

<div class="content" style="position:relative;">

