<%= render 'header' %>

<h1>Welcome!</h1>
<hr style="margin-top:-10px;">
<h3>What do you recommend?</h3>
<p>Need a specific stat boost? Want to find out the optimal foodstuffs for your character build and level? Look no further.</p>
<h3>What can I cook with this?</h3>
<p>Pick an ingredient and see all recipes you can use it for. No more wondering 'What am I missing here?'.</p>
<h3>I'd like to make an order.</h3>
<p>Simply look up information on a specific food item. Don't forget to rate it afterwards or even leave a comment.</p>
<hr>
<h3>Coming soon:</h3>
<ul>
	<li>Up-to-date price data for every item, courtesy of GW2Spidy</li>
	<li>Chef 0-400 leveling guides</li>
	<li>Where to get it - how to obtain any currently obtainable recipe and ingredient</li>
	<li>Support for non-food consumables (oils, potions, sharpening stones, boosters, etc.)	</li>
	<li>Recipe checklists for completists' convenience</li>
</ul>

<%= render 'footer' %>